{% extends 'base.html' %} {% block content %}
<h2>Register</h2>
<form method="post">
  {% csrf_token %} {{form}}
  <input type="submit" value="Register" />
</form>

<a href="{% url 'login' %}">Back to Login</a>
{% endblock %}
